@import "src/assets/variables";

.total-counter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__header {
        font-family: $header__font;
        font-weight: 800;
        font-size: 35px;
        margin: 0;

        &_total {
            color: $main__color;
        }
    }

    &__reset-btn {
        font-family: $default__font;
        font-size: 15px;
        width: fit-content;
        color: $inactive__color;
        text-decoration: underline;
        margin-top: 1.5vh;
        cursor: pointer;
        &:hover {
            color: $inactive__color-hover;
        }
    }
}