@import "src/variables";
::placeholder {
    color: $inactive__color;
}


.task-template {
    width: 60%;
    margin: 0;
    padding: 2.5vh;
    height: 150px;
    border: 3px solid $inactive__color;
    border-radius: 9px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    &__header, &__description {
        border: none;
        padding: 0;
        width: 100%;
        word-break: break-word;
        text-decoration: none;
        margin: 0;
        outline: none;
    }

    &__input {
        display: flex;
        width: 100%;
        justify-content: flex-start;
    }

    &__header {
        font-family: $default__font;
        font-weight: bold;
        font-size: 22px;
    }

    &__description {
        font-family: $default__font;
        font-weight: 400;
        margin-top: 0.7em;
        font-size: 16px;
    }


    &__actions {
        display: flex;
        justify-content: flex-end;

        &_inner {
            display: flex;
            justify-content: space-between;
            width: 4vw;
        }
    }

    &__btn {
        width: 2.8vh;
        cursor: pointer;
        height: 2.8vh;
        @include animation;
    }
}

.hover path {
    fill: $inactive__color-hover;
    color: $inactive__color-hover;
    fill-opacity: 1;
}