@import "src/assets/variables";

.groups {
    display: flex;
    flex-direction: column;
    width: fit-content;

    &__container {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &_header {
            font-family: $header__font;
            font-weight: 800;
            font-size: 24px;
        }
        &_btn {
            cursor: pointer;
            width: 30px;
            height: 30px;

            margin-left: 10px;
        }
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 1vh 0 0 0;
        width: 100%;
        &-item {
            width: auto;
            font-family: $default__font;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
            @include animation__item-hover;
            padding: 10px;
            border-radius: 3px;
            margin-bottom: 10px;
            &:hover {
                background: $item__main-hover;
            }
        }
    }
}